<!-- GeoCities Welcome Banner -->
<header class="geo-header">
  <div class="geo-header-inner">
    <div style="margin-bottom: 5px;">
      <img src="/img/geo/hot.gif" alt="HOT!">
      <img src="/img/geo/flames.gif" alt="FIRE!" style="height: 25px;">
      <img src="/img/geo/new.gif" alt="NEW!">
    </div>

    <h1 class="fire-text" style="font-size: 2rem; margin: 5px 0;">
      {{ .Site.Params.navigation.title | default .Site.Title }}
    </h1>

    {{ with .Site.Params.navigation.subtitle }}
    <p class="tagline" style="margin: 5px 0;">
      <span class="rainbow-text">{{ . }}</span>
    </p>
    {{ end }}
  </div>
</header>
