<!-- GeoCities Sidebar - UNHINGED EDITION -->
<aside class="geo-sidebar">

  <!-- Visitor Counter -->
  <div class="sidebar-box">
    <h4>Visitor Counter</h4>
    <img src="{{ "img/geo/counter.gif" | relURL }}" alt="Counter">
    <p style="font-family: 'Courier New', monospace; color: #00FF00; background: #000; padding: 5px;">
      1,337,420
    </p>
    <img src="{{ "img/geo/counter2.gif" | relURL }}" alt="Counter 2">
  </div>

  <!-- Sign Guestbook -->
  <div class="sidebar-box">
    <a href="javascript:alert('Thanks for signing!');" class="sidebar-btn">
      <img src="{{ "img/geo/community.gif" | relURL }}" alt="Sign Guestbook" style="vertical-align: middle;"><br>
      Sign My Guestbook!
    </a>
  </div>

  <!-- Email Me -->
  <div class="sidebar-box">
    <h4>Get in Touch!</h4>
    <a href="mailto:jevin@jevy.org">
      <img src="{{ "img/geo/emailme.gif" | relURL }}" alt="Email Me!">
    </a>
    <p><span class="blink" style="color: var(--geo-red);">Click to email!</span></p>
  </div>

  <!-- Browser Compatibility -->
  <div class="sidebar-box">
    <h4>Best Viewed With</h4>
    <img src="{{ "img/geo/ns_logo.gif" | relURL }}" alt="Netscape Navigator">
    <img src="{{ "img/geo/ie_logo.gif" | relURL }}" alt="Internet Explorer">
    <p class="blink" style="color: var(--geo-magenta);">800x600 resolution!</p>
  </div>

  <!-- Cool Links -->
  <div class="sidebar-box">
    <h4>Hot Links!</h4>
    <img src="{{ "img/geo/yahooweek.gif" | relURL }}" alt="Yahoo Pick of the Week"><br>
    <a href="https://spellbook.legal" target="_blank">Spellbook</a><br>
    <img src="{{ "img/geo/new.gif" | relURL }}" alt="NEW!">
    <a href="/podcasts/">Podcasts</a><br>
    <a href="/articles/">Articles</a>
  </div>

  <!-- Under Construction -->
  <div class="sidebar-box" style="background: var(--geo-yellow);">
    <img src="{{ "img/geo/underconstruction.gif" | relURL }}" alt="Under Construction">
    <p class="blink" style="color: var(--geo-red); font-weight: bold;">UNDER CONSTRUCTION!</p>
    <img src="{{ "img/geo/construction.gif" | relURL }}" alt="Construction">
  </div>

  <!-- Spinning Earth -->
  <div class="sidebar-box">
    <img src="{{ "img/geo/spinningearth.gif" | relURL }}" alt="Spinning Earth">
    <p style="font-size: 0.75rem;">You are visitor from<br><b>PLANET EARTH!</b></p>
  </div>

  <!-- Hacker Status -->
  <div class="sidebar-box" style="background: #000;">
    <img src="{{ "img/geo/hacker.gif" | relURL }}" alt="Hacker">
    <p style="color: var(--geo-lime); font-size: 0.75rem;">1337 H4X0R</p>
  </div>

</aside>
